{% extends 'base.html.twig' %}

{% block title %}Edit Excercise{% endblock %}

{% block body %}
    <h1>Edit Excercise</h1>

    {{ include('excercise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_excercise_index') }}">back to list</a>

    {{ include('excercise/_delete_form.html.twig') }}
{% endblock %}
