{% extends 'base.html.twig' %}

{% block title %}New Excercise{% endblock %}

{% block body %}
    <h1>Create new Excercise</h1>

    {{ include('excercise/_form.html.twig') }}

    <a href="{{ path('app_excercise_index') }}">back to list</a>
{% endblock %}
